---
import { getCollection } from "astro:content";

const partner = await getCollection("partnerships");
const allAprs = await getCollection("aprs");
const pb = await getCollection("partnerbribes");
---

<nav>
  <a href="/" class="flex items-center gap-3">
    <img src="/assets/fvm.png" alt="FVM" />
    <h4
      class="text-left font-light text-[22px] leading-none mb-[16px] drop-shadow-fvm"
    >
      Sosmed
    </h4>
  </a>
  <div class="flex gap-1">
    <div class="dropdown">
      <button>Partnerships</button>
      <ul class="dropdown-menu">
        {
          partner.map((prtnr) => (
            <li>
              <a href={"/partnerships/" + prtnr.slug}>{prtnr.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="dropdown">
      <button>APRs</button>
      <ul class="dropdown-menu">
        {
          allAprs.map((apr) => (
            <li>
              <a href={"/aprs/" + apr.slug}>{apr.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="dropdown">
      <button>Partner Bribes</button>
      <ul class="dropdown-menu">
        {
          pb.map((pb) => (
            <li>
              <a href={"/partnerbribes/" + pb.slug}>{pb.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>

<style>
  .dropdown-menu {
    @apply absolute w-full rounded-bl-md py-2 bg-background/90 hidden;
  }
  .dropdown:hover .dropdown-menu {
    @apply block;
  }
</style>
