---
import Menu from "./Menu.astro";
---

<nav>
  <fieldset class="flex w-full gap-4 items-center">
    <input id="bvm" class="peer/bvm hidden" type="radio" name="status" />
    <input id="cvm" class="peer/cvm hidden" type="radio" name="status" />
    <input id="fvm" class="peer/fvm hidden" type="radio" name="status" />
    <input id="gvm" class="peer/gvm hidden" type="radio" name="status" />
    <input id="mvm" class="peer/mvm hidden" type="radio" name="status" />
    <!-- VM Logo -->
    <div
      class="block peer-checked/bvm:hidden peer-checked/cvm:hidden peer-checked/fvm:hidden peer-checked/gvm:hidden peer-checked/mvm:hidden"
    >
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/vm.png" alt="VM" />
      </a>
    </div>
    <!-- Chain Logos -->
    <div class="hidden peer-checked/bvm:block">
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/bvm.png" alt="BVM" />
      </a>
    </div>
    <div class="hidden peer-checked/cvm:block">
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/cvm.png" alt="CVM" />
      </a>
    </div>
    <div class="hidden peer-checked/fvm:block">
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/fvm.png" alt="FVM" />
      </a>
    </div>
    <div class="hidden peer-checked/gvm:block">
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/gvm.png" alt="gvm" />
      </a>
    </div>
    <div class="hidden peer-checked/mvm:block">
      <a href="/" class="flex items-center gap-3">
        <img src="/assets/mvm.png" alt="mvm" />
      </a>
    </div>
    <!-- Sosmed -->
    <h4
      class="text-left font-light text-[22px] leading-none mb-[2px] drop-shadow-fvm mr-auto"
    >
      Sosmed
    </h4>
    <!-- Chain Selectors -->

    <label
      for="bvm"
      class="peer-checked/bvm:font-black cursor-pointer hover:text-vwhite transition-all duration-300 ease-out"
      >BVM</label
    >
    <label
      for="cvm"
      class="peer-checked/cvm:font-black cursor-pointer hover:text-vwhite transition-all duration-300 ease-out"
      >CVM</label
    >
    <label
      for="fvm"
      class="peer-checked/fvm:font-black cursor-pointer hover:text-vwhite transition-all duration-300 ease-out"
      >FVM</label
    >
    <label
      for="gvm"
      class="peer-checked/gvm:font-black cursor-pointer hover:text-vwhite transition-all duration-300 ease-out"
      >GVM</label
    >
    <label
      for="mvm"
      class="peer-checked/mvm:font-black cursor-pointer hover:text-vwhite transition-all duration-300 ease-out"
      >MVM</label
    >
    <!-- Chain Menus -->
    <div class="hidden peer-checked/bvm:block">
      <Menu chain="bvm" />
    </div>
    <div class="hidden peer-checked/cvm:block">
      <Menu chain="cvm" />
    </div>
    <div class="hidden peer-checked/fvm:block">
      <Menu chain="fvm" />
    </div>
    <div class="hidden peer-checked/gvm:block">
      <Menu chain="gvm" />
    </div>
    <div class="hidden peer-checked/mvm:block">
      <Menu chain="mvm" />
    </div>
  </fieldset>
</nav>
