---
const { partner } = Astro.props;
---

<div
    class="flex items-center justify-center gap-5 w-full h-10 mt-8 px-8 mb-auto drop-shadow-fvm"
>
    <img src={partner} alt="Partner" class="h-10" />
    <img src="/assets/handshake.png" alt="Handshake" class="h-6" />
    <img src="/assets/fvm.png" alt="By Velocimeter" class="h-10" />
</div>
