<div class="flex items-center justify-between w-full h-16 mb-6 px-8 mt-auto">
    <img
        src="/assets/FantomNoBg.png"
        alt="Fantom"
        class="h-14 drop-shadow-fvm"
    />
    <img
        src="/assets/fvm-url.svg"
        alt="fvm.exchange"
        class="drop-shadow-fvm h-7 mt-3"
    />
    <img src="/assets/V.svg" alt="Velocimeter" class="h-10 drop-shadow-fvm" />
</div>
