---
const { chain } = Astro.props;
---

<div class="flex justify-between w-full h-10 mb-auto drop-shadow-fvm">
  <img src="/assets/bvm.png" alt="BVM" class=`bv ${chain} vis h-8` />
  <img src="/assets/cvm.png" alt="CVM" class=`cv ${chain} vis h-8` />
  <img src="/assets/fvm.png" alt="FVM" class=`fv ${chain} vis h-8` />
  <img src="/assets/mvm.png" alt="MVM" class=`mv ${chain} vis h-8` />
  <img src="/assets/by-velo.png" alt="By Velocimeter" class="h-5 mt-2" />
</div>
