<div
    class="flex items-center justify-between w-full h-16 mt-auto drop-shadow-fvm"
>
    <img src="/assets/FantomNoBg.png" alt="Fantom" class="h-14" />
    <img src="/assets/fvm-url.svg" alt="fvm.exchange" class="h-7" />
    <img src="/assets/V.svg" alt="Velocimeter" class="h-10" />
</div>
